/*Stephen Silverstein
https://github.com/sjsilverstein*/
* {
	vertical-align: top;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
/*	This is my current favorite CSS reset. It handles all the essentials, and ensures relatively universal default browser-style uniformity.*/
.wrapper{
	width: 80%;
	margin: 0 auto;
	background-color: black;

}

.wrapper h1{
	text-align: center;
	font-size: 200%;
	background-color: red;
}
.images{
	width: 59%;
	background-color: white;
	display: inline-block;
	margin: 10px 1%;
	border-radius: 10px;
}
.images h2{
	text-align: center;
	font-size: 125%;
	margin: 10px auto;
}
.dexinfo{
	display: inline-block;
	width: 29%;
	background-color: white;
	margin: 10px 1%;
	border-radius: 10px;
	position: fixed;
}
.dexinfo h1{
	border-radius: 10px;
}
.dexinfo .sprite img{
	margin: 10px auto;
	border: 2px solid black;
}
.sprite{
	width: 20%;
	border: 1px solid black;
	margin: 10px 2%;
}
.loading{
	width: 25%;
	transform-origin: 50% 50%;
	border-radius: 50%;
	margin: 10px auto;
	animation: bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-delay: 0;
	animation-timing-function: ease-in-out;
}
.loading img{
	width: 50%;

}
@keyframes bounce{
	0%{
		transform: translateY(-0px);
	}
	50%{
		transform: translateY(-50px);
	}
	100%{
		transform: translateY(0px);
	}
}